.emALICEBIGEYES{
    background-image: url(../images/emojis/1416640140201427035.png);
}
.emBRICKNEY{
    background-image: url(../images/emojis/1453912347386314903.png);
}
.emHYENA{
    background-image: url(../images/emojis/1463282646149758988.png);
}
.emLETSGOOOO{
    background-image: url(../images/emojis/1424906033859657909.png);
}
.emSANTABRICKNEY{
    background-image: url(../images/emojis/1453923012159213733.png);
}
.emALICE_DOUBT{
    background-image: url(../images/emojis/1416631245877678172.png);
}
.emALICE_DRIVE{
    background-image: url(../images/emojis/1416644539753435156.png);
}
.emALICE_HEART{
    background-image: url(../images/emojis/1428939507625099316.png);
}
.emALICE_LOUKIW{
    background-image: url(../images/emojis/1478389117107568670.png);
}
.emALICE_LOVE{
    background-image: url(../images/emojis/1416634710888550480.png);
}
.emALICEEVILMONKEY{
    background-image: url(../images/emojis/1453199732297044019.png);
}
.emALICEEVILMONKEYRED{
    background-image: url(../images/emojis/1453199758784069752.png);
}
.emALICETHINKINGMONKEY{
    background-image: url(../images/emojis/1453197538319667322.png);
}
.emBABY_BOY{
    background-image: url(../images/emojis/1416581586324815943.png);
}
.emCAT_DISTRAUGHT{
    background-image: url(../images/emojis/1428939150094241813.png);
}
.emCAT_EAGER{
    background-image: url(../images/emojis/1428939221669773512.png);
}
.emCAT_LAUGH_AND_POINT{
    background-image: url(../images/emojis/1453194698729717810.png);
}
.emCHADELIA{
    background-image: url(../images/emojis/1428940224070684732.png);
}
.emCHADSHIRE{
    background-image: url(../images/emojis/1449078374449418361.png);
}
.emCLUBS_1{
    background-image: url(../images/emojis/1415107759925362730.png);
}
.emCORDELIA_RAGE{
    background-image: url(../images/emojis/1428938865267445770.png);
}
.emCORDELIA_SIP{
    background-image: url(../images/emojis/1428939987197624364.png);
}
.emCORDELIA_SPRAY{
    background-image: url(../images/emojis/1428939660486246482.png);
}
.emCRASH_OUT{
    background-image: url(../images/emojis/1415534022733332500.png);
}
.emCURSED{
    background-image: url(../images/emojis/1416952293739462797.png);
}
.emDIAMONDS_1{
    background-image: url(../images/emojis/1415107798303375392.png);
}
.emEMOJI_31{
    background-image: url(../images/emojis/1429617339871006912.png);
}
.emFREE_POP_CAT{
    background-image: url(../images/emojis/1416177854571614228.png);
}
.emHATTER_WHEEZE{
    background-image: url(../images/emojis/1416799538005545063.png);
}
.emHATTER_WHY{
    background-image: url(../images/emojis/1428939383851188264.png);
}
.emHEARTS_1{
    background-image: url(../images/emojis/1415107657462976544.png);
}
.emHEHE{
    background-image: url(../images/emojis/1428938769045913631.png);
}
.emJOKER{
    background-image: url(../images/emojis/1415453665300582530.png);
}
.emKIDNEY{
    background-image: url(../images/emojis/1463816752944119880.png);
}
.emKIDNEY_TEXT{
    background-image: url(../images/emojis/1463816813576978518.png);
}
.emMARY_ANN_LOUKIW{
    background-image: url(../images/emojis/1478389027488141385.png);
}
.emMAYO{
    background-image: url(../images/emojis/1453197576798208215.png);
}
.emQUEEN_STICKER{
    background-image: url(../images/emojis/1416643311300776027.png);
}
.emSPADES_1{
    background-image: url(../images/emojis/1415107725322354759.png);
}
.emSUFFERING{
    background-image: url(../images/emojis/1416957196616339466.png);
}
.emYUMCAT{
    background-image: url(../images/emojis/1416868436780384347.png);
}
.emYURI{
    background-image: url(../images/emojis/1415842822291980288.png);
}