:root {
    --bgr: 59;
    --bgg: 73;
    --bgb: 20;
    --bgc: rgb(var(--bgr), var(--bgg), var(--bgb));
    --bgt: rgba(var(--bgr), var(--bgg), var(--bgb), 0);
    --cbgc: #7F8557;
}

@font-face {
	font-family: alice;
	src: url(fonts/Alice-Regular.ttf);
}

@font-face {
	font-family: habrohead;
	src: url(fonts/RuntimeRegular-m2Odx.otf);
}

h1, h2, h3, h4, h5 {
    font-family: habrohead;
}

p{
	font-family: alice;
}

.header {
    --grad: 15%;
    --gradend: 85%;
    background-image: linear-gradient(to top, var(--bgc) 0%, var(--bgt) var(--grad) var(--gradend), var(--bgc) 100%), linear-gradient(to right, var(--bgc) 0%, var(--bgt) var(--grad) var(--gradend), var(--bgc) 100%), url(../images/C79pKf6MS9X_4.png);

    height: 30vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title {
    text-align: center;
    font-size: 5em;
}

.subtitle {
    text-align: justify;
    padding-left: 2em;
    padding-right: 2em;
}

body {
    background-color: var(--bgc);
}

.content {
    background-color: var(--cbgc);
    border-radius: .375rem;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
}

.tornPage {
    background-image: url(../images/IMG_0390.PNG), url(../images/IMG_0393.PNG), url(../images/IMG_0383.PNG);
    background-repeat: no-repeat, no-repeat, repeat-y;
    background-position: top center, bottom center, top center;
    background-size: 100% auto, 100% auto, 100% auto;
    color: black;
}

a.active {
    background-color: #7F8557bb !important;
}

a.nav-link {
    color: #fff !important;
    transition: text-shadow 0.5s, background-color 0.5s;
}

a.nav-link:hover {
    background-color: #7F855722;
    text-shadow: 0 0 3px #fff;
}

.nav-pills a{
    margin-left: 3px;
}

a {
    color: #e8ce8e;
    transition: text-shadow 0.5s;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 3px #e8ce8c;
}